# Eclipse
.classpath
.project
.settings/

# Intellij
#.idea/
#*.iml
#*.iws

# Mac
.DS_Store

# Maven
log/
target/

# VSC
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# factorypath
# .factorypath

# media folder
media/*

# application properties
#application.properties
